@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<QuizCreateWepApp.Entities.AppUser>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container mt-5">

    <h3>AppUser List</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <th scope="row">@item.Id</th>
                    <td>@item.Email</td>
                    <td>@item.Password</td>

                </tr>

            }

        </tbody>
    </table>
</div>
