
@model List<QuizCreateWepApp.Entities.WiredItem>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container mt-5">

    <h3>
       Wired.com
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">desc</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.title</td>
                    <th scope="row">@item.desc</th>
                    <td>@item.url</td>

                </tr>

            }

        </tbody>
    </table>
</div>
